<div class="container-fluid">
    {{#if (eq context.page.metadata.type "md")}}
        {{ markdownify ( expand context.content) }}
    {{else}}
        {{ expand context.content }}
    {{/if}}
</div>
